set default=0
set timeout=8
set color_normal=white/black
set color_highlight=black/light-cyan

echo "AstraOS 0.2.1-alpha | Security + Office Workstation · XFCE"
echo ""

search --no-floppy --label ASTRAOS_0_2_1 --set=root

menuentry "Start AstraOS 0.2.1-alpha" {
    linux /live/vmlinuz boot=live components quiet splash username=astra hostname=astraos apparmor=1 security=apparmor
    initrd /live/initrd.img
}
